.main_buttons {
-fx-background-color: #29335C;
-fx-text-fill: #FFF;
-fx-font-size: 16px;
-fx-font-weight: bold;
}
.main_buttons:hover {
    -fx-background-color: #534D41;
    -fx-scale-y: 1;
}
.main_buttons:pressed {
    -fx-background-color: #DB2B39;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}
.secondary_buttons {
    -fx-background-color: #F3A712;
    -fx-margin: 2px;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.text_fields_main {
    -fx-background-color: #534D41;
    -fx-border-style: solid;
    -fx-border-color: #29335C;
    -fx-text-fill: #FFF;
}
.radio_select_top{
-fx-padding: 3px;
-fx-font-size: 16px;
-fx-font-weight: bold;
}
.table-view .show-hide-columns-button {
    -fx-background-color: red;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: -1 -1 0 0;
}
.tab-pane .tab-header-area .tab-header-background { -fx-opacity: 0; }
.tab-pane { -fx-tab-min-width:90px; }
.tab{ -fx-background-insets: 0 1 0 1,0,0; }
.tab-pane .tab { -fx-background-color: #534D41; }
.tab-pane .tab:selected { -fx-background-color: #29335C; }
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #FFF;
    -fx-font-size: 14px;
}
.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #FFF;
        -fx-font-weight: bold;}
.table-view { -fx-background-color: transparent; }
.table-view .column-header-background .filler { -fx-background-color: transparent; }
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #cbae87, #f9d193);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
.table-view .column-header { -fx-background-color: transparent; }
 .table-view .table-cell{
     -fx-border-color: transparent;
     -fx-padding: 2 0 2 10px;
 }
 .table-row-cell: hover {
     -fx-background-color: #f0d0a7;
     -fx-text-background-color: #F3A712;
 }
 .table-row-cell: odd{
     -fx-background-color: #F9EDDC;
     -fx-background-insets: 0, 0 0 1 0;
     -fx-padding: 0.0em;
          -fx-background-radius: 3px;

 }
 .table-row-cell: even{
     -fx-background-color: #F6F5F4;
     -fx-background-insets: 0, 0 0 1 0;
     -fx-padding: 0.0em;
          -fx-background-radius: 3px;

 }
 .table-view .virtual-flow .scroll-bar:vertical,
 .table-view .virtual-flow .scroll-bar:vertical .track,
 .table-view .virtual-flow .scroll-bar:vertical .track-background,
 .table-view .virtual-flow .scroll-bar:horizontal,
 .table-view .virtual-flow .scroll-bar:horizontal .track,
 .table-view .virtual-flow .scroll-bar:horizontal .track-background {
     -fx-background-color: transparent;
 }
 .table-view .virtual-flow .scroll-bar .increment-button,
 .table-view .virtual-flow .scroll-bar .decrement-button {
     -fx-opacity: 0;
     -fx-padding: 2;
 }
 .table-view .virtual-flow .scroll-bar:vertical .thumb{
     -fx-background-color:  linear-gradient(to bottom, #534D41, #cbae87);
 }
 .table-view .virtual-flow .scroll-bar:horizontal .thumb {
     -fx-background-color:  linear-gradient(to right, #534D41, #cbae87);
 }
 .table-row-cell: highlighted {
     -fx-background-color: #29335C;
     -fx-background-radius: 8px;
     -fx-text-weight: bold;
}
 .table-row-cell: selected {
     -fx-background-color: #534D41;
     -fx-background-radius: 8px;
     -fx-font-weight: bold;
     -fx-background-text-color: #F3A712;
     }